{% extends 'layouts/layout.main.html.twig' %}

{% block page_title %}Patients{% endblock %}

{% block page_content %}


    <div class="patients-list">

        <h1 class="text-center mb-5">Patients</h1>

        {% if notice is defined %}
          <div class="alert alert-success">{{ notice }}</div>
        {% elseif error is defined %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {% if patients is empty %}

          <div class="alert alert-info" role='alert'>No patients found.</div>

        {% else %} 

          <div class="table-container">
            <table class="table">
              <thead>
                  <tr>
                      <th scope='col'>ID</th>
                      <th scope='col'>First Name</th>
                      <th scope='col'>Last Name</th>
                      <th scope='col'>JMBG</th>
                      <th scope='col'>Note</th>
                      <th scope='col'>City</th>
                      <th scope='col'>Actions</th>
                  </tr>
              </thead>
              <tbody>

                  {% for patient in patients %}

                      <tr>
                          <th scope='row'>{{ patient.id }}</th>
                          <td>{{ patient.first_name }}</td>
                          <td>{{ patient.last_name }}</td>
                          <td>{{ patient.jmbg }}</td>
                          <td>{{ patient.note }}</td>
                          <td>{{ patient.loc_city }}</td>
                          <td data-controller="table-action">
                              <button data-delete-index={{ patient.id }} data-table-action-target='deleteBtn' data-action="table-action#appendToDelete" class='button-link button-link--delete' data-bs-toggle='modal' data-bs-target='#deleteConfirmModal'><i class="far fa-trash-alt"></i></button>
                              <a href="{{ path('admin_patient_update', { 'patientId': patient.id }) }}"><button class='button-link button-link--update'><i class="far fa-edit"></i></button></a>
                          </td>
                      </tr>

                  {% endfor %}        

              </tbody>

            </table>
          </div>

        {% endif %}

        <div class="form-container">
          <h2 class="text-center">Add a new patient</h2>
          
          {{ form(create_patient_form) }}

        </div>
       
    </div>

    {# Modals #}
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteConfirmModalTitle">Confirm deletion</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modalBody">
              Are you sure that you want to delete this patient?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <form id="deleteForm" action="{{ path('admin_patient_delete') }}" method="post">
                <button class="btn btn-primary" type="submit">Confirm</button>
              </form>
            </div>
          </div>
        </div>
    </div>
    

{% endblock %}