{% extends 'layouts/layout.forms.html.twig' %}

{% block page_title %}Create Examination{% endblock %}

{% block form_container %}

    <h2 class="text-center">Create a new examination</h2>
                
    {{ form_start(create_examination_form) }}

        {{ form_row(create_examination_form.patient) }}
        {{ form_row(create_examination_form.doctor) }}
        {{ form_row(create_examination_form.date) }}
        {% do create_examination_form.diagnosis.setRendered() %}
        {% do create_examination_form.performed.setRendered() %}

    {{ form_end(create_examination_form) }}

{% endblock %}
